.cart-image {
  /* justify-content: center; */
  overflow: auto;
  width: 15vh;
  height: 20vh;
}
.cart-detail{
  font-size: 16px;
  display: flex;
  padding: 5px;
}

.cart-productname-quantity {

  padding: 5px;
}

.cart-button {
  width: 15vh;
  font-size: 10px;
}

.disabled {
  display: none;
}