
.nav-bar {
  display: flex;
  font-size: 16px;
  color: #000;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  display: block; 
  align-content: space-evenly;
  /* position: fixed; */
  display: inline-block;
  background-position: center;
  border-bottom: 1px solid #fa2acd52;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  /* background-size: 1800% 100%; */
}

.nav-bar a {
  display: flex;
  color: #000;
  overflow: hidden;
  background-color: none;
  text-align: center;
  display: block; 
  /* align-content: space-evenly; */
  padding: 8px;
}

.nav-bar a:hover {
  color: #fa2acd;
}


.nav-bar-login {
  display: flex;
  justify-content: space-evenly;
  align-content: right;
  float: right;
  width: 40vh;
  background: none;
  overflow: auto;
}

.nav-bar-glowup {
  display: flex;
  justify-content: space-evenly;
  align-content: left;
  float: left;
  width: 25vh;
  background: none;
  overflow: auto;
}

.nav-bar-center {
display:flex;
justify-content: space-evenly;
background: none;
width: 70vh;
overflow: auto;
}

