
.nav-bar {
  display: flex;
  font-size: 16px;
  color: #000;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  display: block; 
  align-content: space-evenly;
  /* position: fixed; */
  display: inline-block;
  background-position: center;
  border: 2px solid #ff88ff;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-bar a {
  display: flex;
  color: #000;
  overflow: hidden;
  background-color: none;
  text-align: center;
  display: block; 
  /* align-content: space-evenly; */
  padding: 8px;
}

.nav-bar a:hover {
  color: #fa2acd;
}


.nav-bar-login {
  display: flex;
  justify-content: space-evenly;
  align-content: right;
  float: right;
  width: 40vh;
  background: #b1ff33;
  overflow: auto;
}

.nav-bar-glowup {
  display: flex;
  justify-content: space-evenly;
  align-content: left;
  float: left;
  width: 25vh;
  background: #33ffcc;
  overflow: auto;
}

.nav-bar-center {
display:flex;
justify-content: space-evenly;
background: #99ccff;
width: 70vh;
overflow: auto;
}

