body {
  display: flex;
  background: none;
}

/* scc product */

.product-card {
  transform: scale();
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  overflow: hidden;
  background: none;
  font-size: 14px;
  color: #000;
  /* border: grey solid 2px; */
  padding: 1%;
  width: 35vh;
  height: 60vh;
}


.product-show-page {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
}


.product-card-pic {
  width: 100%
}

/* product show page */

div.ppc-product-info {
    font-size: 14px; 
    padding: 5vh;
    height: 80vh;
}

div.ppc-image {
    justify-content: left;
    overflow:hidden;
}

div.ppc-info {
    justify-content: right;
    text-align: left;
    padding: 10px;
    overflow:hidden;
}

.showall-button-previous {
  background: none;
  border: 1px solid #fa2acd;
  border-radius: 0px;
  color: #000;
  display: flex;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 1em auto;
  position: absolute;
  left: 20%;
  bottom: 0%;
}

.scc-button {
  background: none;
  display: flex;

}

.button:hover {
  background: #fa2acd;
  color: #fff;
}

button {
    background: none;
    border: 1px solid #fa2acd;
    border-radius: 0px;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 1em auto;
    display:inline-block;
  }

  button.add-to-bag-btn {
    background: none;
    border: 1px solid #fa2acd;
    border-radius: 0px;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 1em auto;
    display:inline-block;
  }

  button.add-to-bag-btn:hover {
    background: #fa2acd;
    color: #fff;
  }

  input {
    width: 40vh;
    font-size: 16px;
    color: #fa2acd;
  }
  
  input:focus {
    outline: 2px solid #fa2acd86;
    background-color: none;
  }

  textarea:focus {
    outline: 2px solid #fa2acd86;
    background-color: none;
  }
  
  label {
    display: flex;
    margin-bottom: 0rem
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fa2acd65;
    ;
    opacity: 1; /* Firefox */
  }
  
  .ppc-quantity {
    width: 6vh;
  }