body {
  font-size: 12px;
}

  div.reviewer {
    display: flex;
    justify-content: left;
    overflow:hidden;

  }

  div.review {
    display: flex;
    justify-content: right;
    overflow:hidden;
  }
